@model Employee

@{
    ViewBag.Title = $"{Model.Name} - Details";
    ViewBag.Heading = "Employee Details";
}
<div class="bg-secondary text-light p-5 rounded-5">
<h1>@Model.Name</h1>
<h5>Email: @Model.Email</h5>
    <form asp-controller="Employees" asp-action="Delete" asp-route-itemid="@Model.Id">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group mt-5">
        <a asp-controller="Employees" asp-action="Create" asp-route-itemid="" class="btn btn-light">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>
</div>